<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Ankieta</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border mb-5">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="navbar-brand" href="/users/new_user">Rejestracja </a>
            <a class="nav-item nav-link" href="/users/login">Login</a>
        <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a>-->   
          </div>
        </div>
      </nav>
    <div class="container">
        <h1>Zarejestruj się</h1>
        <small class="text-muted">Po poprawnej rejestracji zostaniesz odesłany do strony logowania.</small>
        <form action="/users/new_user" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Adres email</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Hasło</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" maxlength="100"  required>
                </div>
            <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
    </div>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
</body>

</html>